@import "variables";

figure {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    max-width: $mediumColWidth;    

    &.large {
        max-width: $largeColWidth;
    }

    &.xlarge {
        max-width: $xlargeColWidth;
    }
}