@import "variables";

.navbar {
    border-bottom: 1px solid $grey;

    height: $navbarHeight;

    .nav-item {
        .btn {
            font-size: 0.8rem;
            font-weight: bold;
            padding: 0.25rem 0.5rem;
            color: $black;
        }

        a:hover {
            background-color: $red;
            color: white;
            border-color: $red;
        }
    }
}

.bg-light {
    background-color: white !important;
}

.navbar-brand {
    margin-top: -8px;
    margin-bottom: 0;

    @media screen and (max-width: 576px) {
        margin-top: -2px;
    }

    /* Center nameplate in navbar */
    /*
    margin-left: auto;
    margin-right: auto;
    float: center;
    */
}

.nav-social-icon {
    font-size: 2em;
    margin-bottom: -5px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: -3px;
}