@import "variables";

html {
    font-size: 20px;

    @media screen and (max-width: 576px) {
        font-size: 18px;
    }
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Verlag A", "Verlag B", "Futura", "Helvetica", sans-serif;
    line-height: 1.618;
}

article {
    p {
        a {
            color: inherit;
            text-decoration: none;
            /* underline without clashing with descenders */
            border-bottom: 2px solid $red;
        }

        a:hover {
            text-decoration: none;
            color: $red;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        max-width: $colWidth;
        margin-left: auto;
        margin-right: auto;
    }

    .section-header {
        margin-top: 2rem;
        font-size: 1.6rem;
    }

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $sans-serif;
    font-style: normal;
    font-weight: 700;
}

p {
    font-family: $serif;
    font-style: normal;
    font-weight: 400;
    max-width: $colWidth;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    margin-top: 1rem;
    font-family: $sans-serif;
    color: $dark-grey;
    font-size: 0.9rem;
}

figcredit {
    color: $grey;
    font-size: 0.7rem;

    .name {
        text-transform: uppercase;
    }
}

article {
    hr {
        background-color: $grey;
        width: $mediumColWidth;
    }
}

.btn {
    text-transform: uppercase;
    border-radius: 0px;

    * {
        font-weight: bold;
    }
}

.blockcap {
    font-family: $sans-serif;
    font-weight: bold;
    font-size: 4rem;
    line-height: 1;
    text-align: center;
    float: left;
    display: block;
    position: relative;
    width: 1rem;
    color: $black;
}

.share-list {
    a {
        color: $black;
    }
}