$serif: "Chronicle Text G2 A", "Chronicle Text G2 B";
$sans-serif: "Verlag A", "Verlag B";
$colWidth: 580px;
// the width of items that extend beyond the base column of text
$extendedColWidth: 780px;

/* Colors */
$black: #333;
$light-grey: #e0e0e0;